extends layout

block content
    br
    h1.title Радио Ростова 101.6 FM
    noindex
        #rr-player
            .cover
                a#cover-link( href="#", target="_blank")
                    img#cover-image( alt='Постер', src="images/player/poster.jpg", width="116", height="117")
                    .cover-overlay
            .track-info
                .volume
                    .progress( title="Накрутить громкость")
                        .slider
                            .left
                            .center
                            .right
                    .label Громкость
                    .value
                    .clear
                .controls
                    span.flash-alert
                        span
                            Ваш браузер не поддерживает ни Flash ни HTML5 Audio (mp3).<br>Воспроизведение невозможно.
                        br
                        Но вы можете слушать радио в своем любимом плеере, выбрав один из потоков из списка ниже.
                    ul.buttons
                        li.button.prev( title='Предыдущий поток')
                        li.button.pause( title='Пауза')
                        li.button.play( title='Воспроизведение')
                        li.button.next( title='Следующий поток')
                .track
                    a.track-link( href="#", target="_blank")
                        span.name
                    div
                    a.track-link( href="#", target="_blank")
                        span.artist
                    //a.like(title="Рассказать друзьям о треке!")
        #track-searcher
            .wrapper
                .form
                    p.buttons Какая песня играла &nbsp;
                        a.day-button.selected(href="#", data-day="today") сегодня
                        | &nbsp;&nbsp;
                        a.day-button(href="#", data-day="yesterday") вчера
                        | &nbsp;&nbsp;
                        a.day-button(href, data-day="other") в другой день
                        a.close(title="Закрыть панель") закрыть
                    .inputs
                        input.date(maxlength="8"))
                        | &nbsp; В &nbsp;
                        input.time(maxlength='5')
                        | &nbsp;
                        input.submit(type="image", src="/images/search/submit.png", title="Найти", value="")
                ul.list
            .tab-button.search
                img.icon(src="/images/search/submit.png", title="Найти песню по времени")
    br
    .stream-info
        span.label Текущий поток:&nbsp;
        span.stream-index #1
        | &nbsp;
        a.url( href="http://radio.romanziva.ru:8000/rostovradio") http://radio.romanziva.ru:8000/rostovradio
    br
    .info
        div( style='width: 500px; margin: 0 auto; text-align: left;')
            b Чтобы слушать в своем любимом плеере, скачайте один из плейлистов
            br
            | 1.&nbsp;
            a( title="Скачать плейлист", href="http://radio.romanziva.ru:8000/rostovradio.m3u", target="_blank") Основной плейлист
            |&nbsp;<sup style='color:red'><b>new!</b></sup> (ретрансляция оф. потока)
            br
            | 2.&nbsp;
            a( title="Скачать плейлист", href="http://zavalinka.in:8000/rostovradio.m3u", target="_blank") Резервный основной поток
            |&nbsp;(ретрансляция оф. потока)
            br
            | 3.&nbsp;
            a( title="Скачать плейлист", href="http://178.76.238.182:8000/rostovradio.m3u", target="_blank") Плейлист для пользователей Спарка
            | &nbsp; (ретрансляция оф. потока в сеть Спарк)
            br
            | 4.&nbsp;
            a( title="Скачать плейлист", href="http://zavalinka.in:8000/rostovradiofm.m3u", target="_blank") Независимая ретрасляция, поток с FM-тюнера
            |*&nbsp;
            br
            | 5.&nbsp;
            a( title="Скачать плейлист", href="http://178.76.238.182:8000/rostovradiofm.m3u", target="_blank") Независимая ретрасляция, поток с FM-тюнера
            |* &nbsp; (поток внутри сети Спарк)
            br
            | 6.&nbsp;
            a( title="Скачать плейлист", href="http://audio.rambler.ru/action/play.m3u?id=458", target="_blank") Ретрансляция Рамблера
            br
            | 7.&nbsp;
            b
                i
                    a( title="Скачать плейлист со всеми потоками!", href="radiorostova_all.m3u", target="_blank") Плейлист со всеми потоками!
                | &nbsp; <sup style='color:red'>new!</sup>
            br
        br
        a( title='Оофициальный сайт радиостанции "Радио Ростова"', href="http://radiorostov.ru", target="_blank") RadioRostov.ru
        br
        br
        small
            | * помните, что качество вещания зависит от качества приема fm-тюнера, с которого идет трансляция.
            br
            | о любых проблемах воспроизведения пишите мне в icq: <b>466499433</b>, jabber/email: <b>roman.ziva[собака]gmail.com</b>.
    br
    br
    script( src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script( src="js/socket.io/socket.io.js")
    .shares
        iframe(
            src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fradio.romanziva.ru&amp;send=false&amp;layout=button_count&amp;width=130&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21&amp;appId=325028670849016",
            scrolling="no",
            frameborder="0",
            style="border:none; overflow:hidden; width:130px; height:21px;",
            allowTransparency="true"
        )
        #vk_like
        a.twitter-share-button( href="https://twitter.com/share", data-url="http://radio.romanziva.ru", data-lang="ru") Твитнуть
        script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    br
    br
    br

    #comments
        #vk_comments

    //script( src="js/player.js")
    //script( src="js/uppod/uppod_api.js")
    //script( src="js/lastFmClient.js")
    //script( src="js/app.js?20121007_2")
    script( src="js/all.min.js?20121104_2")
    script( src="http://userapi.com/js/api/openapi.js?48")
    script
        (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter13165666 = new Ya.Metrika({id:13165666, enableAll: true, webvisor:true}); } catch(e) {} }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/13165666" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->